.container-imagem {
  position: relative; 
  display: inline-block; 
}
.texto-sobreposto {
  position: absolute;
  bottom:0; 
  left: 20px; 
  right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius:0.5em;
  font-size: 1.5rem;
}
.mosaic-grid {
  display: grid;
  grid-template-columns: 2fr 2fr; 
  grid-template-rows: repeat(3,300px); 
  gap:20px;
  max-width: 900px;
  margin: 0 auto;
  margin-top:60px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius:1em;
}

@media (max-width: 600px) {
  .mosaic-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 80%;
  }
  .featured {
    grid-row: auto;
  }
}