@font-face{
font-family: 'nomesite'; /* Nome que você vai usar */
src: url('../font/font-nome-site/Spicy\ Sale.ttf')
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
html, body {
  overflow-x: hidden;
 
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F8FF;
  
}


/*CÓDIGO A SEGUIR PARA MANTER O FOOTER FIXADO NO RODAPÉ DA PÁGINA*/
 .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container .conteudo-principal {
    flex: 1 1 0;
    border: 0;
  }

.header {
  position:fixed;
  top: 0;
  background-color: #1c1c1c;
  height:80px;
  width: 100%;
  z-index:1000;
}
.nome-site {
  height: auto;
  margin-top:0px;
  text-align: center;
  padding:50px 0px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:4rem;
  background-color:#363636;
  color:#FF4500;
  
}


.lista-menu {
  height: auto;
  max-width: 100%;
  background-color: #1c1c1c;
  display: flex; 
  justify-content: center;
  list-style: none; 
  padding:10px;
  margin: 0;
  
}

.lista-menu li a {
  font-size: 2rem;
  padding:10px;
  text-decoration: none;
  color:#FF4500;
  display: block;
}
.lista-menu a:hover {
  text-decoration: underline;
  font-weight: 600;

}

.icones-redes-topo {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
 
}

.icones-redes-topo a {
  padding:3px;
  margin:10px;
  border-radius:5px;
  background-color:#FFFFE0;

}
.conteudo-principal{
  margin-top:200px;
}
.artigo-conteudo-principal {
  width:80%;
  margin-top:40px;
  margin-left:20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.artigo-conteudo-principal h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:20px;
  font-size: 4rem;
  
}
.artigo-conteudo-principal h2 {
  font-size: 2rem;
  margin-bottom:40px;
  margin-top:40px;
}
.artigo-conteudo-principal h3 {
  font-size:2rem;
  margin-bottom:20px ;
}
.artigo-conteudo-principal div {
  margin-bottom:20px;

}
.artigo-conteudo-principal p {
  margin-bottom:10px;
  font-size:2rem;
} 


.artigo-conteudo-principal img {
  max-width:500px;
}
.video-anexado {
  margin-top:40px;
  height:300px;
  width:500px;
}
.artigo-conteudo-principal img {
  display: block;
  margin-bottom:20px;
}
.contador {
  margin-top:100px;
}


footer { 
  margin-top:40px;
  max-width: 100%;
  height: auto;
  background-color: #1c1c1c;
}
#logo {
  display: flex;
  justify-content: center;
}
.icones-redes-footer {

  display: flex;
  justify-content: center;
 
}
.icones-redes-footer  a {
  padding:3px;
  margin:20px;
  border-radius:5px;
  background-color:#FFFFE0;

}
.copyright-adeilson {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height:auto;
  color:#FF4500;
  font-size:4rem; 
}



/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (min-width:768px) {
  #menuToggle {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .menu-navegacao {
    display: none ;
  }
}
@media screen and (max-width: 768px) {
  .lista-menu {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
  }
}


/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (max-width: 768px) {
  .icone-redes {
    display: none; /*Não vai mostrar os icones de redes sociais para tela menoes*/
  }
}
@media screen and (max-width: 768px) {
  .img-artigo {
    width:80%;
  }

}

@media screen and (max-width: 768px) {
  .icone-redes-rodape {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
    border-radius: 10px;
  }
}
@media screen and (max-width:768px) {
  .video-anexado iframe{
  height: auto;
  width:auto;
}
}
@media screen and (max-width:768px) {
  .artigo-conteudo-principal img {
  height:auto;
  width:100%;
}
}


